<!DOCTYPE html>
<html>


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">



    <script type="text/javascript" src="\static\jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="\static\bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>


    <script type="text/javascript" src="\static\layer\layer\layer.min.js"></script>

    <title>一个算IBNR的网站</title>
</head>

<body>


<div class="container" style="width:70%;">
    <div class="jumbotron ">
        <h1>一个算IBNR的网站</h1>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        上传理赔文件
                    </h2>
                </div>
                <div class="panel-body ">
                    <div class="row" >
                        <div class="col-md-9">
                            <form enctype="multipart/form-data" method="post" name="upload">
                                <input type="file" id="file" required/>
                            </form>
                        </div>
                        <div class="col-md-3">
                            <button type="button" id="btn_upload" class="btn btn-primary"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span>上传</button>
                        </div>

                    </div>
                    <br>
                    <div class="alert alert-info m-auto" role="alert">上传文件只能是<strong>xlsx/xls文件</strong>或<strong>gbk编码的csv文件</strong></div>
                    <br>
                    <div class="alert alert-info m-auto" role="alert">
                        <p><strong>文件必须有如下四列（区分大小写）：</strong></p>
                        <p>occur_month：出险月</p>
                        <p>acc_close：进展月</p>
                        <p>cntr_year：保单年</p>
                        <p>pay_amnt：理赔额</p>


                    </div>


                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        文件信息
                    </h2>
                </div>
                <div class="panel-body">
                    <h3>行数</h3>
                    <p id="rownum"></p>
                    <h3>列数</h3>
                    <p id="colnum"></p>
                    <h3>最早出险月</h3>
                    <p id="datemin"></p>
                    <h3>最晚出险月</h3>
                    <p id="datemax"></p>
                    <h3>保单年</h3>
                    <table class="table table-striped" style="text-align:center;">
                        <thead>
                        <tr>
                            <th style="text-align:center;">保单年</th>
                            <th style="text-align:center;">记录数</th>
                        </tr>
                        </thead>
                        <tbody id='cntr_year_table'>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        预览
                    </h2>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered" style="text-align:center;">
                        <thead>
                        <tr>
                            <th style="text-align:center;">出险月</th>
                            <th style="text-align:center;">进展月</th>
                            <th style="text-align:center;">保单年</th>
                            <th style="text-align:center;">理赔额</th>
                        </tr>
                        </thead>
                        <tbody id='head_table'>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container" style="width:70%;">
    <div class="jumbotron">
        <h1>三角形</h1>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        基本设置
                    </h2>
                </div>
                <div class="panel-body">
                    <div class="input-group">
                        <span class="input-group-addon">起始月（YYYY年MM月）</span>
                        <input type="text" class="form-control" id="date_start" aria-describedby="basic-addon3">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">终止月（YYYY年MM月）</span>
                        <input type="text" class="form-control" id="date_end" aria-describedby="basic-addon3">
                    </div>
                    <br>
                    <div class="alert alert-info m-auto" role="alert">
                    <p>会用出险时间在上述事件范围内的记录计算三角形</p>
                        <p>起始月<strong><=</strong>OCCUR_DATE<strong><=</strong>终止月</p>
                    </div>

                    <button id="btn_cal1" type="button"  class="btn btn-primary">计算三角形</button>
                </div>


            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        三角形
                    </h2>
                </div>
                <div class="panel-body" id="origin_triangle">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container" style="width:70%;">
    <div class="jumbotron">
        <h1>计算进展因子</h1>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        设置
                    </h2>
                </div>
                <div class="panel-body">
                    <div class="input-group">
                        <span class="input-group-addon">件数窗口长度</span>
                        <input type="text" class="form-control" id="cfactor_month_num" aria-describedby="basic-addon3"
                               value="4">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">费用窗口长度</span>
                        <input type="text" class="form-control" id="ffactor_month_num" aria-describedby="basic-addon3"
                               value="4">
                    </div>
                    <br>
                    <div class="alert alert-info m-auto" role="alert">
                    <p>在各个进展月上计算进展因子时使用的月的个数,如果最后几个进展月不满足窗口条件，补充nan；如果为None,则用所有数据计算</p>
                    </div>

                    <button id="btn_cal_fact" class="btn btn-primary">计算进展因子</button>
                </div>


            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        原始进展因子
                    </h2>
                </div>
                <div class="panel-body" id="ori_factor">

                </div>
            </div>
        </div>
    </div>
</div>


<div class="container" style="width:70%;">
    <div class="jumbotron">
        <h1>直接算IBNR</h1>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        设置
                    </h2>
                </div>
                <div class="panel-body">
                    <div class="input-group">
                        <span class="input-group-addon">件数进展因子</span>
                        <input type="text" class="form-control" id="cfactor_adj" aria-describedby="basic-addon3">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">费用进展因子</span>
                        <input type="text" class="form-control" id="ffactor_adj" aria-describedby="basic-addon3">

                    </div>
                    <br>
                    <div class="alert alert-info m-auto" role="alert">
                    <p>可以从上面表格复制过来。。。如果是None，会用1代替</p>
                    </div>

                    <button id="btn_cal_res" class="btn btn-primary">计算估计的三角形和IBNR</button>
                </div>


            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        结果
                    </h2>
                </div>
                <div class="panel-body" id="result">

                </div>
            </div>
        </div>
    </div>
</div>


<div class="container" style="width:70%;">
    <div class="jumbotron">
        <h1>平均费用</h1>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        设置
                    </h2>
                </div>
                <div class="panel-body">
                    <div class="input-group">
                        <span class="input-group-addon">平均费用窗口长度</span>
                        <input type="text" class="form-control" id="average_month_num" aria-describedby="basic-addon3"
                               value="4">

                    </div>
                    <br>
                    <div class="alert alert-info m-auto" role="alert">
                    <p>在各个进展月上计算平均费用使用的月的个数,如果最后几个进展月不满足窗口条件，补充nan；如果为None,则用所有数据计算</p>
                    </div>

                    <button id="btn_average_fee" class="btn btn-primary">计算平均费用</button>
                </div>


            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        结果
                    </h2>
                </div>
                <div class="panel-body" id="result_averagefee">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" style="width:70%;">
    <div class="jumbotron">
        <h1>平均费用算IBNR</h1>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        调整平均费用
                    </h2>
                </div>
                <br>
                <div class="panel-body">
                    <div class="input-group">
                        <span class="input-group-addon">调整平均费用</span>
                        <input type="text" class="form-control" id="average_fee_adj" aria-describedby="basic-addon3">

                    </div>
                    <br>
                    <div class="alert alert-info m-auto" role="alert">
                    <p>可以直接复制上面的平均费用，如果有None，则会用出现None之前的所有费用里最大的代替</p>
                    </div>

                    <button id="btn_cal_res_final" class="btn btn-primary">计算结果</button>
                </div>


            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        结果
                    </h2>
                </div>
                <div class="panel-body" id="result_af_final">

                </div>
            </div>
        </div>
    </div>
</div>


</body>


<script>
    $('#btn_upload').click(function () {
        var data = document.upload.file.files[0];
        var fm = new FormData();
        fm.append('data', data);
        var loading = parent.layer.load();
        $.ajax(
            {
                url: '/upload',
                type: 'POST',
                dataType: 'json',
                data: fm,
                contentType: false,
                processData: false
            }
        ).done(function (res) {

            parent.layer.close(loading);
            var str = "";
            var head_table = res['head_table'];
            $.each(head_table, function (index, element) {
                str += "<tr><td>" + element['occur_month']
                    + "</td><td>" + element['acc_close']
                    + "</td><td>" + element['cntr_year']
                    + "</td><td>" + element['pay_amnt']
                    + "</td></tr>";
            });

            $('#head_table').empty().append(str);
            $('#rownum').text(res['shapex']);
            $('#colnum').text(res['shapey']);
            $('#datemin').text(res['datemin']);
            $('#datemax').text(res['datemax']);
            $('#date_start').val(res['datemin']);
            $('#date_end').val(res['datemax']);

            var cntr_year_table_str = "";
            var cntr_year_table = res['cntr_years'];
            $.each(cntr_year_table, function (index, element) {
                cntr_year_table_str += "<tr><td>" + element['cntr_year']
                    + "</td><td>" + element['counts']
                    + "</td></tr>";
            });
            $('#cntr_year_table').empty().append(cntr_year_table_str);


        }).fail(function (res) {
            parent.layer.close(loading);
            alert("error!");
        });
    });

    $('#btn_cal1').click(function () {
        var filename = document.upload.file.files[0].name;
        var date_start = $('#date_start').val();
        var date_end = $('#date_end').val();
        var loading = parent.layer.load();
        var data = JSON.stringify({"filename": filename, "date_start": date_start, "date_end": date_end});
        $.ajax(
            {
                url: '/caltri',
                type: 'POST',
                dataType: 'html',
                contentType: "application/json",
                data: data,
                contentType: false,
                processData: false,
                success: function (res) {
                    $('#origin_triangle').html(res);
                    parent.layer.close(loading);
                }
            }).fail(function (res) {
            parent.layer.close(loading);
            alert("error!");
        });

    });

    $('#btn_cal_fact').click(function () {
        var filename = document.upload.file.files[0].name;
        var date_start = $('#date_start').val();
        var date_end = $('#date_end').val();
        var cfactor_month_num = $('#cfactor_month_num').val();
        var ffactor_month_num = $('#ffactor_month_num').val();
        var loading = parent.layer.load();

        var data = JSON.stringify({
            "filename": filename, "date_start": date_start, "date_end": date_end,
            "cfactor_month_num": cfactor_month_num, "ffactor_month_num": ffactor_month_num
        });
        $.ajax(
            {
                url: '/calfactor',
                type: 'POST',
                dataType: 'html',
                contentType: "application/json",
                data: data,
                contentType: false,
                processData: false,
                success: function (res) {
                    $('#ori_factor').html(res);
                    parent.layer.close(loading);
                }
            }).fail(function (res) {
            parent.layer.close(loading);
            alert("error!");
        });

    });

    $('#btn_cal_res').click(function () {
        var filename = document.upload.file.files[0].name;
        var date_start = $('#date_start').val();
        var date_end = $('#date_end').val();
        var cfactor_adj = $('#cfactor_adj').val();
        var ffactor_adj = $('#ffactor_adj').val();
        var loading = parent.layer.load();

        var data = JSON.stringify({
            "filename": filename, "date_start": date_start, "date_end": date_end,
            "cfactor_adj": cfactor_adj, "ffactor_adj": ffactor_adj
        });

        $.ajax(
            {
                url: '/calres',
                type: 'POST',
                dataType: 'html',
                contentType: "application/json",
                data: data,
                contentType: false,
                processData: false,
                success: function (res) {
                    $('#result').html(res);
                    parent.layer.close(loading);
                }
            }).fail(function (res) {
            parent.layer.close(loading);
            alert("error!");
        });

    });

    $('#btn_average_fee').click(function () {
        var filename = document.upload.file.files[0].name;
        var date_start = $('#date_start').val();
        var date_end = $('#date_end').val();
        var af_month_num = $('#average_month_num').val();
        var loading = parent.layer.load();

        var data = JSON.stringify({
            "filename": filename, "date_start": date_start, "date_end": date_end,
            "af_month_num": af_month_num
        });
        $.ajax(
            {
                url: '/method2',
                type: 'POST',
                dataType: 'html',
                contentType: "application/json",
                data: data,
                contentType: false,
                processData: false,
                success: function (res) {
                    $('#result_averagefee').html(res);
                    parent.layer.close(loading);
                }
            }).fail(function (res) {
            parent.layer.close(loading);
            alert("error!");
        });

    });


    $('#btn_cal_res_final').click(function () {
        var filename = document.upload.file.files[0].name;
        var date_start = $('#date_start').val();
        var date_end = $('#date_end').val();
        var average_fee_adj = $('#average_fee_adj').val();
        var cfactor_adj = $('#cfactor_adj').val();
        var loading = parent.layer.load();

        var data = JSON.stringify({
            "filename": filename, "date_start": date_start, "date_end": date_end,
            "average_fee_adj": average_fee_adj, "cfactor_adj": cfactor_adj
        });
        $.ajax(
            {
                url: '/method2res',
                type: 'POST',
                dataType: 'html',
                contentType: "application/json",
                data: data,
                contentType: false,
                processData: false,
                success: function (res) {
                    $('#result_af_final').html(res);
                    parent.layer.close(loading);
                }
            }).fail(function (res) {
            parent.layer.close(loading);
            alert("error!");
        });

    });


</script>


</html>